back/node_modules
back/shared/uploads
back/shared/config/*
back/shared/db/*
Front/node_modules
Front/package.json
Front/package-lock.json
Front/node_modules.zip
Front/src/environments/*
Front/dist
Publicar.sh
Respaldos
.htaccess