.tarjeta{
    margin: 10px;
}
.rounded-circle{
    border: 5px solid #ddd;
    width: 70px;
    margin: 0 auto;
    padding: 15px;
    height: 70px;
}
.tarjeta-perfil{
    padding: 20px;
    background: #f9f9f9;
    border: 1px solid #ddd;
}