
.campos{
    position: absolute;
    overflow: auto;
    z-index: 5;
    max-height: 150px;
    width: 250px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 5px 15px;
    background: #fff;
    margin-top: 35px;
}
th{
  font-size: 12px;
}
td{
  font-size: 10px;
}
.boton-ver{
    position: absolute;
    z-index: 5;
    font-size: 30px;
}
.boton-excel{
    position: absolute;
    z-index: 5;
    margin-left: 53px;
    font-size: 22px;
}
