.label-form{ font-weight: bold !important;}
div#sugerencias {
    width: 100%;
    background: #fff;
    border: 1px solid #ddd;
    font-size: 12px;
    max-height: 100px;
    overflow-y: auto;
    padding: 10px;
    z-index: 1;
}
#sugerencias th{
    font-size: 16;
    margin-bottom: 3px;
}
.activeLink{
    cursor:pointer;
}
.activeLink:hover{
    opacity: .7;
}
#sugerencias td{
    padding: 5px;
}
.panel{
    border: 1px solid #ddd;
    padding: 20px;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
  
.example-full-width {
    width: 100%;
}

.tarjeta{
    margin: 10px;
}
.rounded-circle{
    width: 70px;
    margin: 0 auto;
    padding: 13px;
    height: 70px;
}
.activ{

    border: 5px solid #2196F3 !important;
}
.activ2{
    border: 5px solid #ddd !important;
}
.tarjeta-perfil{
    padding: 20px;
    background: #f9f9f9;
    border: 1px solid #ddd;
}
.br-{
    border-right: 1px solid #ddd;
}