<div [@routerTransition]>
    <app-page-header [heading]="'Cobranza'" [icon]="'fa-dashboard'"></app-page-header>
    <!--Menu principal-->
    <div class="row text-center">
        <div class="col-6 col-lg-3">
            <div class="form-group" >
                <button (click)="catalogoClientes();" class="btn btn-secondary menu w-100" style="color: #fff;"><i class="fa fa-users"></i> Clientes</button>
            </div>
        </div>
        <div class="col-6 col-lg-3">
                <div class="form-group">
                    <button (click)="ventaRegular();" class="btn bg-warning menu w-100" style="color: #fff;"><i class="fa fa-credit-card"></i> Abonos Terreno</button>
                </div>
            </div>
        <div class="col-6 col-lg-3">    
            <div class="form-group">
                <button (click)="nuevoMantenimiento();" class="btn btn-danger menu w-100" ><i class="fa fa-home"></i> Mantenimiento</button>
            </div>
        </div>
        <div class="col-6 col-lg-3">
            <div class="form-group">
                <button (click)="nuevoIngresoExtra();" class="btn btn-info menu w-100"><i class="fa fa-address-card"></i> Certificados</button>
            </div>
        </div>
    </div>
    <hr />
    <!-- SECCION DE AYUDA -->
    <div *ngIf="panelVisualizar == 'Ayuda' ">
        <app-home-info [label]="'Cobranza'"></app-home-info>
    </div>
    <div *ngIf="vistaCentro">
        <!--Venta regular-->
        <app-venta *ngIf="ingresoNuevo" [datosVenta]="datosVenta"  [@routerTransition]></app-venta>
        <!--Catalogo Clientes-->
        <app-catalogo-clientes *ngIf="clientesCatalogos" (vista)="catalogoClientes($event);" (nuevaOperacion)="nueva_operacion($event);" [@routerTransition]></app-catalogo-clientes>
        <!--Mantenimiento-->
        <app-mantenimiento *ngIf="mantenimientoNuevo" [datosMantenimiento]="datosMantenimiento" [@routerTransition]></app-mantenimiento>
        <!--Ingresos Extra-->
        <app-ingresos-extra *ngIf="ingresosExtraNuevo" [datosIngresosExtras]="datosIngresosExtra"  [@routerTransition]></app-ingresos-extra>
    </div>
</div>
