<div [@routerTransition]>
    <app-page-header [heading]="'Catalogos'" [icon]="'fa-file'"></app-page-header>
    <hr>
    <!-- MENU PRINCIPAL -->
    <div class="row text-center">
        <div class="col-6 col-lg-3">
            <div class="form-group">
                <button (click)="verCatalogoClientes($event);" class="btn bg-primary menu w-100 text-white"><i class="fa fa-users"></i> | Clientes</button>
            </div>
        </div>
        <div class="col-6 col-lg-3">
            <div class="form-group" >
                <button (click)="verCatalogoTerrenos($event);" class="btn bg-purple w-100 text-white" ><i class="fa fa-map"></i> | Terrenos </button>
            </div>
        </div>
        <div class="col-6 col-lg-3">
            <div class="form-group">
                <button (click)="verDatosTodos();" class="btn bg-danger menu w-100 text-white" ><i class="fa fa-book"></i> | Datos Todos</button>
            </div>
        </div>
        <div class="col-6 col-lg-3">    
            <div class="form-group">
                <button (click)="verCatalogoCuentas();" class="btn bg-warning menu w-100 text-white" ><i class="fa fa-bank"></i> | Cuentas</button>
            </div>
        </div>
    </div>
    <hr />
    <!-- SECCION DE AYUDA -->
    <div *ngIf="panelVisualizar == 'Ayuda' ">
        <app-home-info [label]="'Catalogos'"></app-home-info>
    </div>
    <!-- VISTA CENTRAL -->
    <div class="row" *ngIf="vistaCentro">
        <div class="col-12">
            <!--Catalog de terrenos-->
            <div class="row" *ngIf="catalogoTerrenos">
                <div class="col-12">
                    <app-catalogos-terrenos [@routerTransition]></app-catalogos-terrenos>
                </div>
            </div>
            <!-- Catalogo Clientes-->
            <div class="row" *ngIf="catalogoCuentas">
                <div class="col-12">
                    <app-catalogo-cuentas [@routerTransition]></app-catalogo-cuentas>        
                </div>

            </div>
                        
            <!--Catalogo de clientes-->
            <div class="row" *ngIf="catalogoCliente">
                <div class="col-12" [@routerTransition]>
                    <app-catalogo-clientes (vista)="catalogoClientes($event);" (nuevaOperacion)="nueva_operacion($event);" ></app-catalogo-clientes>
                </div>
            </div>
            <!--Catalog de clientes--><!--[@routerTransition]-->
            <div class="row" *ngIf="datosTodos && !detalleCliente && !datosDetalle "  style="overflow: auto;">
                <div class="col-6 col-sm-3 text-center">
                    <div class="form-group">
                        <button (click)="verDatosTodos();" class="btn btn-dark w-100"><i class="fa fa-book"></i> | Ver Todos  </button>
                    </div>
                </div>
                <div class="col-6 col-sm-3 text-center">
                    <label class="switch ">
                        <input type="checkbox" [(ngModel)]="verFiltros" />
                        <span class="slider round"></span>
                    </label>
                    <b style="vertical-align: sub;"> Mas Filtros</b>
                </div>
                <div class="col-12 col-sm-6 text-center">
                    <div class="form-group"> 
                        <input (keyup)="filtrarTerrenos();"  placeholder="Buscar en Terrenos:" type="text" class="form-control" [(ngModel)]="textoTerreno" />
                    </div>
                </div>
            </div>  
            <hr>
            <div class="row" *ngIf="verFiltros && !detalleCliente && !datosDetalle ">
                <div class="col-6 col-lg-3">
                    <div class="form-group">
                        <label class="label-form">Parcela: </label>
                        <ngx-select [items]="parcelas" optionValueField="parcela" placeholder="Parcela:" (select)="filtrarTerrenos();" [(ngModel)]="parcelaFiltro"></ngx-select>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="form-group">
                        <label class="label-form">Lote: </label>
                        <ngx-select [items]="lotes" optionValueField="lote" placeholder="Lote:" (select)="filtrarTerrenos();" [(ngModel)]="loteFiltro"></ngx-select>
                    </div>
                </div>
                <div class="col-6 col-lg-3"> 
                    <div class="form-group">
                        <label class="label-form">Etapa: </label>
                        <ngx-select [items]="etapas" optionValueField="etapa" placeholder="Etapa:" (select)="filtrarTerrenos();" [(ngModel)]="etapaFiltro"></ngx-select>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="form-group">
                        <label class="label-form">Estatus: </label>
                        <ngx-select [items]="estatusTodos" optionValueField="Estatus" placeholder="Estatus:" (select)="filtrarTerrenos();" [(ngModel)]="estatusFiltro"></ngx-select>
                    </div>
                </div>
            </div>     
            <div class="row" *ngIf="datosTodos && !detalleCliente && !datosDetalle" id="cli_dat_t">
                <div class="col-12">
                    <div class="form-group">
                        <button class="btn btn-success float-right" (click)="generarNuevoCliente();"><i class="fa fa-plus-circle"></i> | Nuevo Cliente </button>
                        <br><br>
                    </div>
                </div>
                <div class="col-12 col-md-6  text-center" *ngFor="let a of datosTodos | paginate: { itemsPerPage: 6, currentPage: pageTodosDat, id: 'cli_dat_t' };">
                    <div class="card mb-3">
                        <div class="card-header bg-{{(a.Color)?a.Color:'default'}}">
                            <i class="fa fa-book"></i> DAT-{{a.Id}}
                        </div>
                        <div class="card-body">
                            <span><b><i class="fa fa-user"></i> : </b>{{a.Nombre}}</span>
                            <br>
                            <span><b><i class="fa fa-envelope"></i> : </b> {{a.Correo}}</span>
                            <table class="table"  *ngIf="a.Terrenos[0]">
                                <tr style="background-color:#999;"><th>Etapa:</th><th>Lote:</th><th>Parcela:</th><th>Estatus:</th></tr>
                                <tr *ngFor="let t of a.Terrenos"><td>{{t.ETAPA}}</td><td>{{t.LOTE}}</td><td>{{t.PARCELA}}</td><td>{{t.ESTADO}}</td></tr>
                            </table>
                            <table class="table"  *ngIf="!a.Terrenos[0]">
                                <tr style="background-color:#999;"><th>Etapa:</th><th>Lote:</th><th>Parcela:</th><th>Estatus:</th></tr>
                                <tr ><td colspan="4">Sin Terrenos</td></tr>
                            </table>
                        </div>
                        <br>
                        <button class=" card-footer btn bg-warning text-center text-white w-100" (click)="this.datosDetalle = false; this.detalleCliente = a; "> <b><i class="fa fa-edit"></i> | Editar</b></button>
                    </div>
                </div>
                <div class="col-12 text-right">
                    <pagination-controls (pageChange)="pageTodosDat = $event" id="cli_dat_t"></pagination-controls>
                </div>
            </div>
                <!-- <div class="col-12">
                    <br>
                    <button class="btn btn-success float-right" (click)="generarNuevoCliente();"><i class="fa fa-plus-circle"></i> Nuevo </button>
                    <br><br>
                </div>
                <div class="col-lg-4"> 
                    <h4> Información General de Lotes </h4>
                    <input type="text" class="form-control" (keyup)="buscarEn();" placeholder="Filtrar Clientes 'Nombre' 'Terreno' 'Estatus' " [(ngModel)]="textoBuscar">
                </div>
                <div class="col-lg-6"> 
                    <div class="row">
                            <div class="col-lg-4">
                                <h4> Parcela </h4>
                                <input  (keyup)="buscarEn();"   placeholder="Parcela:" type="text" class="form-control" [(ngModel)]="parcelaFiltro" [ngbTypeahead]="filtrarParcelas" (selectItem)="parcelaFiltro = $event.item; buscarEn();" [resultFormatter]="formatter" />
                            </div>
                            <div class="col-lg-4">
                                <h4> Lote </h4>
                                <input  (keyup)="buscarEn();"  placeholder="Lote:" type="text" class="form-control" [(ngModel)]="loteFiltro" [ngbTypeahead]="filtrarLotes" (selectItem)="loteFiltro = $event.item; buscarEn();"  [resultFormatter]="formatter" />
                            </div>
                            <div class="col-lg-4"> 
                                <h4> Estapa </h4>
                                <input (keyup)="buscarEn();"  placeholder="Etapa:" type="text" class="form-control" [(ngModel)]="etapaFiltro" [ngbTypeahead]="filtrarEtapas" (selectItem)="etapaFiltro = $event.item; buscarEn();" [resultFormatter]="formatter" />
                            </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <h4> Estatus </h4>
                    <select  class="form-control" [(ngModel)]="estatusFiltro" (change)="buscarEn();" >
                        <option value="0">Todos</option>
                        <option  *ngFor="let e of estatusTodos;" value="{{e.Estatus}}">{{e.Estatus}}</option>
                    </select>            
                </div>
                
                <div class="col-lg-12" >
                    <br>
                    <table class="table table-striped  table-hover">
                        <tr>
                            <th>Cliente</th>
                            <th>Terrenos</th>
                            <th>
                                <b style="cursor:pointer;" (click)="cambiarOrden('Saldo_credito');">
                                    Saldo del credito
                                    <i  class="fa fa-care t-{{(datosTodos.Ordenes)?datosTodos.Ordenes.Saldo_credito:''}}"></i>
                                </b>
                            </th>
                            <th>
                                <b style="cursor:pointer;" (click)="cambiarOrden('Saldo_mantenimiento');">
                                    Saldo de Mantenimiento
                                    <i  class="fa fa-caret-{{(datosTodos.Ordenes)?datosTodos.Ordenes.Saldo_mantenimiento:''}}"></i>
                                </b>
                            </th>
                            <th>
                                <b style="cursor:pointer;" (click)="cambiarOrden('Estatus');">
                                    Estatus
                                    <i  class="fa fa-caret-{{(datosTodos.Ordenes)?datosTodos.Ordenes.Estatus:''}}"></i>
                                </b>
                            </th>
                            <th>Ajustes</th>
                        </tr>
                        <tr *ngFor="let d of datosTodos.Datos | paginate: { itemsPerPage: 10, currentPage: this.datosPage }">
                            <td>{{d.Nombre}}</td>
                            <td>{{d.InfoTerrenos}}</td>
                            <td>$ {{d.Saldo_credito |number }}</td>
                            <td>$ {{d.Saldo_mantenimiento |number }}</td>
                            <td>{{d.Estado}}</td>
                            <td>
                                <button class="btn btn-info" style="color: #fff ;" (click)="this.datosDetalle = false; this.detalleCliente = d; "> Editar | <i class="fa fa-edit"></i> </button>
                            </td>
                        </tr>
                    </table>
                    <div class="text-right" >
                        <pagination-controls (pageChange)="this.datosPage = $event" ></pagination-controls>
                    </div>            
                </div> 
            </div> -->
            <!-- <div class="row" *ngIf="datosDetalle || detalleCliente">
                <div class="col-lg-12">
                    <button class="btn btn-primary pull-right" (click)="verDatosTodos();" >Ver Todos</button>
                    <br><br>
                </div>
            </div> -->
            <div class="row" *ngIf="detalleCliente && !datosDetalle">
                <div class="col-lg-12" *ngIf="checksTerrenos.length > 0">
                    <button class="btn btn-danger pull-right" (click)="confirmarEliminarRegistros();">Eliminar</button>
                    <button class="btn btn-warning pull-right" (click)="verEditarCampos();">Editar</button>
                </div>
                <div class="col-lg-12" style="overflow: auto;">
                    <app-formulario-clientes-separado [Nuevo]="true" [datosCliente]="detalleCliente" (vista)="this.detalleCliente = false" ></app-formulario-clientes-separado>
                </div>
            </div>
            <div >
                <!--Venta regular-->
                <app-venta *ngIf="ingresoNuevo" [datosVenta]="datosVenta"  [@routerTransition]></app-venta>
                <!--Catalogo Clientes-->
                <app-catalogo-clientes *ngIf="clientesCatalogos" (vista)="catalogoClientes($event);" (nuevaOperacion)="nueva_operacion($event);" [@routerTransition]></app-catalogo-clientes>
                <!--Mantenimiento-->
                <app-mantenimiento *ngIf="mantenimientoNuevo" [datosMantenimiento]="datosMantenimiento" [@routerTransition]></app-mantenimiento>
                <!--Ingresos Extra-->
                <app-ingresos-extra *ngIf="ingresosExtraNuevo" [datosIngresosExtras]="datosIngresosExtra"  [@routerTransition]></app-ingresos-extra>
            </div>
        </div>
    </div>
</div>

    <!-- <div class="row">
        <div class="col-xs-12 col-lg-4">
            <app-stat [bgClass]="'primary'" [icon]="'fa-map'" [label]="'Catalogo de Terrenos'" (event)="verCatalogoTerrenos($event);"></app-stat>
        </div>
        <div class="col-xs-12 col-lg-4">
            <app-stat [bgClass]="'secondary'" [icon]="'fa-users'" [label]="'Catalogo de Clientes'" (event)="verCatalogoClientes($event);"></app-stat>
        </div>
        <div class="col-xs-12 col-lg-4">
            <app-stat [bgClass]="'info'" [icon]="'fa-book'" [label]="'Datos Cliente'" (event)="verDatosTodos();"></app-stat>
        </div>        
    </div> -->