<div [@routerTransition] >
    <app-page-header [heading]="'Webpage'" [icon]="'fa-sitemap'"></app-page-header>
    <hr>
    <div class="row">
        <div class="col-12">
            <h2>Actual estado del sitio web </h2>
            <br>
            <ngb-tabset>
                <ngb-tab>
                    <ng-template ngbTabTitle ><b>Inicio</b> </ng-template>
                    <ng-template ngbTabContent>
                        <div class="row" style="padding:50px">
                            <div class="col-12 col-sm-12 col-xl-8">
                                <h3 class="text-center">Contenido sección de Inicio  </h3>
                            </div>
                            <div class="col-12 col-sm-6 col-xl-2">
                                <div class="form-group">
                                    <button class="btn bg-warning w-100 text-white" (click)="obtenerContenidoOriginal('Inicio');"><i class="fa fa-history"></i> | Restaurar</button>                            
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-xl-2">
                                <div class="form-group">
                                    <button class="btn btn-info w-100" (click)="guardarCambiosPagina('Inicio');"> <i class="fa fa-save"></i> | Guardar </button>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="card-body"  [froalaEditor]="options" [(froalaModel)]="websiteContent.Inicio"></div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab>
                    <ng-template ngbTabTitle ><b>Sobre Nosotros</b> </ng-template>
                    <ng-template ngbTabContent>
                        <div class="row" style="padding:50px">
                            <div class="col-12 col-sm-12 col-xl-8">
                                <h3 class="text-center">Contenido sección Sobre Nosotros  </h3>
                            </div>
                            <div class="col-12 col-sm-6 col-xl-2">
                                <div class="form-group">
                                    <button class="btn bg-warning w-100 text-white" (click)="obtenerContenidoOriginal('Inicio');"><i class="fa fa-history"></i> | Restaurar</button>                            
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-xl-2">
                                <div class="form-group">
                                    <button class="btn btn-info w-100" (click)="guardarCambiosPagina('Inicio');"> <i class="fa fa-save"></i> | Guardar </button>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="card-body"  [froalaEditor] [(froalaModel)]="websiteContent.Sobre"></div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab>
                    <ng-template ngbTabTitle ><b>Noticias</b> </ng-template>
                    <ng-template ngbTabContent>
                        <div class="row" style="padding:50px">
                            <div class="col-12 col-sm-12 col-xl-8">
                                <h3 class="text-center">Contenido sección de Noticias  </h3>
                            </div>
                            <div class="col-12 col-sm-6 col-xl-2">
                                <div class="form-group">
                                    <button class="btn bg-warning w-100 text-white" (click)="obtenerContenidoOriginal('Noticias');"><i class="fa fa-history"></i> | Restaurar</button>                            
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-xl-2">
                                <div class="form-group">
                                    <button class="btn btn-info w-100" (click)="guardarCambiosPagina('Noticias');"> <i class="fa fa-save"></i> | Guardar </button>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="card-body"  [froalaEditor] [(froalaModel)]="websiteContent.Noticias"></div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab>
                    <ng-template ngbTabTitle ><b>Contacto</b> </ng-template>
                    <ng-template ngbTabContent>
                        <div class="row" style="padding:50px">
                            <div class="col-12 col-sm-12 col-xl-8">
                                <h3 class="text-center">Contenido sección de Contacto  </h3>
                            </div>
                            <div class="col-12 col-sm-6 col-xl-2">
                                <div class="form-group">
                                    <button class="btn bg-warning w-100 text-white" (click)="obtenerContenidoOriginal('Contacto');"><i class="fa fa-history"></i> | Restaurar</button>                            
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-xl-2">
                                <div class="form-group">
                                    <button class="btn btn-info w-100" (click)="guardarCambiosPagina('Contacto');"> <i class="fa fa-save"></i> | Guardar </button>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="card-body"  [froalaEditor] [(froalaModel)]="websiteContent.Contacto"></div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
    </div>
</div>