<div [@routerTransition]>
        <app-page-header [heading]="'Finanzas'" [icon]="'fa-dashboard'"></app-page-header>
        <!--Menu principal-->
        <div class="row text-center">
            <div class="col-6 col-lg-3">
                <div class="form-group" >
                    <button (click)="estadosFinancieros($event);" class="btn bg-primary w-100 text-white" ><i class="fa fa-trello"></i> | Ver Estado Financiero </button>
                </div>
            </div>
            <!-- <div class="col-lg-4">
                <app-stat [bgClass]="'secondary'" [icon]="'fa-users'" [label]="'Estados Financieros'" (event)="estadosFinancieros($event);"  ></app-stat>
            </div> -->
            <!-- <div class="col-lg-4">    
                    <app-stat [bgClass]="'success'" [icon]="'fa-address-card'" [label]="'Catalogo de cuentas'" (event)="catalogoCuentas();"  ></app-stat>
            </div> -->
        </div>
        <hr />
        <!-- SECCION DE AYUDA -->
        <div *ngIf="panelVisualizar == 'Ayuda' ">
            <app-home-info [label]="'Finanzas'"></app-home-info>
        </div>
        <div *ngIf="vistaCentro">
            <!--Cotizaciones-->
            <app-estado-financiero class="row" *ngIf="verEstadoFinanciero" [@routerTransition]></app-estado-financiero>
            <!--Clientes-->
            <!-- <app-catalogo-cuentas class="row" *ngIf="verCatalogoCuentas" [@routerTransition]></app-catalogo-cuentas> -->
        </div> 
    </div>
    