<div [@routerTransition]>
    <app-page-header [heading]="'Ventas'" [icon]="'fa-dashboard'"></app-page-header>
    <!--Menu principal-->
    <div class="row text-center">
        <div class="col-6 col-lg-3">
            <div class="form-group">
                <button (click)="catalogoClientes();" class="btn bg-primary menu w-100" style="color: #fff;"><i class="fa fa-users"></i> | Clientes</button>
            </div>
        </div>
        <div class="col-6 col-lg-3">
            <div class="form-group">
                <button (click)="nuevaCotizacion();" class="btn bg-purple menu w-100"><i class="fa fa-clipboard"></i> | Cotización</button>
            </div>
        </div>
        <div class="col-6 col-lg-3">
            <div class="form-group">
                <button (click)="verProspectos();" class="btn bg-danger menu w-100"><i class="fa fa-envelope"></i> | Prospectos</button>
            </div>
        </div>
        <div class="col-6 col-lg-3">
            <div class="form-group">
                <!-- <button (click)="nuevoCliente();" class="btn btn-success menu"><i class="fa fa-address-card"></i> Nuevo Cliente</button> -->
                <button (click)="generarNuevoCliente();" class="btn btn-success menu w-100"><i class="fa fa-address-card"></i> | Nuevo Cliente</button>
            </div>
        </div>
    </div>
    <hr />
    <!-- SECCION DE AYUDA -->
    <div *ngIf="panelVisualizar == 'Ayuda' ">
        <app-home-info [label]="'Ventas'"></app-home-info>
    </div>
    <div *ngIf="vistaCentro">
        <!--Cotizaciones-->
        <app-cotizador *ngIf="cotizacionNueva" (vista)="nuevoCliente();" [@routerTransition]></app-cotizador>
        <!--Clientes-->
        <!-- <app-clientes class="row" *ngIf="clienteNuevo"  (vista)="procesarContratos($event);"  [@routerTransition]></app-clientes> -->
        <app-formulario-clientes-separado *ngIf="detalleCliente" [Nuevo]="true" [datosCliente]="detalleCliente" (vista)="this.detalleCliente = false" ></app-formulario-clientes-separado>
        <!--Catalogo Clientes-->
        <app-catalogo-clientes *ngIf="clientesCatalogos" (vista)="nuevaVentaCliente($event);" (nuevaOperacion)="nueva_operacion($event);" [@routerTransition]></app-catalogo-clientes>
        <!--Catalogo Prospectos-->
        <app-prospectos *ngIf="mostrarProspectos" [@routerTransition]></app-prospectos>
        <!--Contratos-->
        <app-contrato class="row" *ngIf="datosContrato" #contratoGenerado  [datosContrato]="datosContrato" (vista)="imprimirPagare($event);" (mensualidades)="imprimirMensualidades($event);" [@routerTransition]></app-contrato>
    </div> 
</div> 
