<div [@routerTransition]>
    <app-page-header [heading]="'Usuarios'" [icon]="'fa-table'"></app-page-header>
    <hr>
    <div class="row">
        <!-- <div class="col-12">
            <button (click)="nuevoUsuario();" class="btn btn-info text-right"><i class="fa fa-plus-"></i> Nuevo Usuario</button> &nbsp;&nbsp;|&nbsp;&nbsp; 
            <button (click)="nuevoPuesto();" class="btn btn-success text-right"><i class="fa fa-plus-"></i> Nuevo Puesto</button>
            <br><br>
        </div> -->
        <div class="col-xl-4 col-lg-4">
            <app-stat [bgClass]="'primary'" [icon]="'fa-address-book'" [label]="'Usuarios'" (event)="obtenerUsuarios();"  ></app-stat>
        </div>
        <div class="col-xl-4 col-lg-4">
            <app-stat [bgClass]="'danger'" [icon]="'fa-address-card'" [label]="'Perfiles'" (event)="obtenerPuestos();" ></app-stat>
        </div>
    </div>
    <hr />
    <div class="row" *ngIf="vistaCentro">
        <div class="col-xl-12 col-lg-12 col-xs-12">
            <div class="row"  [@routerTransition]>
                <div class="col-12" *ngIf="panelVisualizar=='Usuarios' ">
                    <button class="btn btn-primary pull-right" style="margin: 0 10px;" (click)="guardarCambiosUsuario();"> <i class="fa fa-save"></i> |  Guardar Cambios </button>
                    <button class="btn btn-info pull-right" style="margin: 0 10px;" (click)="nuevoUsuario();"> <i class="fa fa-plus-circle"></i> |  Nuevo Usuarios </button>
                    <br><br>
                </div>
                <!--Nuevo Usuario-->
                <div class="row" *ngIf="this.altaNuevoUsuario" [@routerTransition]>
                    <div class="col-xs-12 col-xl-12 col-lg-12">
                        <div class="card mb-3">
                            <div class="card-header bg-info">
                                Nuevo Usuario
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <!--Empleado-->
                                    <div class="col-xs-7 col-lg-7 col-xl-7">
                                        <div class="form-group">
                                            <label class="label-form"> Empleado </label>
                                            <input autofocus id="typeahead-format" placeholder="Nombre del empleado:" type="text" class="form-control" [(ngModel)]="catalogoEmpleados.Nombre" [ngbTypeahead]="filtrarEmpleado" (selectItem)="seleccionarEmpleado($event)" [resultFormatter]="formatter" />
                                            <input type="hidden" value="0" *ngIf="datosEmpleado" [(ngModel)]="datosEmpleado.IdEmpleado" />
                                        </div>
                                    </div>
                                    <div class="col-xs-2 col-lg-2 col-xl-2"></div>
                                    <!--Perfiles-->
                                    <div class="col-xs-3 col-lg-3 col-xl-3">
                                        <div class="form-group">
                                            <label class="label-form"> Perfil </label>
                                            <select class="form-control" [(ngModel)]="this.uIdPerfil" >
                                                <option value="0">Selecciona el puesto</option>
                                                <option *ngFor="let per of catalogoPuestos" value="{{per.IdPerfil}}">{{per.Nombre_perfil}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-4 col-lg-4 col-xl-4">
                                        <div class="form-group">
                                            <label class="label-form"> Nombre </label>
                                            <input type="text" class="form-control" placeholder="Nombre" [(ngModel)]="uNombre" />
                                        </div>
                                    </div>
                                    <div class="col-xs-4 col-lg-4 col-xl-4">
                                        <div class="form-group">
                                            <label class="label-form"> Correo </label>
                                            <input type="text" class="form-control" placeholder="Correo:"  [(ngModel)]="uCorreo"/>
                                        </div>
                                    </div>
                                    <div class="col-xs-4 col-lg-4 col-xl-4">
                                        <div class="form-group">
                                            <label class="label-form"> Password </label>
                                            <input type="text" class="form-control"  [(ngModel)]="uPassword"/>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-lg-12 col-xl-12">
                                        <div class="form-group">
                                            <label class="label-form"> &nbsp;</label><br>
                                            <button (click)="guardarNuevoUsuario();"  class="btn btn-primary pull-right">Guardar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                
                <div class="col-12" *ngIf="this.datosUsuarios">
                    <div class="card card-default">
                        <div class="card-header bg-primary">
                            <h4 class="text-white">Usuarios Activos</h4>
                        </div>
                        <div class="card-body text-center">
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-6 col-xl-4" *ngFor="let d of this.datosUsuarios">
                                    <div class="card card-default tarjeta">
                                        <div class="card-body text-center">
                                            <!-- <img class="mb-2 img-fluid rounded-circle thumb64" src="assets/img/user/02.jpg" alt="Contact" /> -->
                                            <div class="mb-2 img-fluid rounded-circle thumb64" > <i class="fa fa-user fa-2x"></i></div>
                                            <h4>{{d.Nombre}}</h4>
                                            <a class="" (click)="detUsuario = dr">
                                                <b>{{d.Perfil}}</b>
                                                <!-- <em class="fa" [ngClass]="favContact1 ? 'fa-star text-warning' : 'fa-star-o'"></em> -->
                                            </a>
                                            <p> <b>{{d.Correo}}</b> </p>
                                            <p> <b>{{d.Fecha_creacion}}</b> </p>
                                        </div>
                                        <div class="card-footer d-flex">
                                            <div>
                                                <button type="button" class="btn btn-xs btn-primary">Enviar Accesos</button>
                                            </div>
                                            <div class="ml-auto">
                                                <button type="button" class="btn btn-xs btn-secondary">Permisos</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" [@routerTransition]>
                <div class="col-12" *ngIf="panelVisualizar == 'Perfiles'">
                    <button class="btn btn-primary pull-right" style="margin: 0 10px;" (click)="guardarCambiosPuesto();"> <i class="fa fa-save"></i> |  Guardar Cambios </button>
                    <button class="btn btn-success pull-right" style="margin: 0 10px;" (click)="nuevoPuesto();"> <i class="fa fa-plus-circle"></i> |  Nuevo Perfil </button>
                    <br><br>
                </div>
                <!--Nuevo Puesto-->
                <div class="row" *ngIf="altaNuevoPuesto" [@routerTransition]>
                    <div class="col-xs-12 col-xl-12 col-lg-12">
                        <div class="card mb-3">
                            <div class="card-header bg-success">
                                Nuevo Puesto
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label class="label-form"> Nombre perfil </label>
                                            <input type="text" class="form-control" placeholder="Perfil" [(ngModel)]="pNombre" />
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-lg-12 col-xl-12">
                                        <div class="form-group">
                                            <label class="label-form"> Permisos </label> &nbsp;&nbsp;&nbsp;<input type="checkbox" name="" [(ngModel)]="Todos" (change)="seleccionarTodos();"> Todos<br>
                                            <input type="checkbox" name="" [(ngModel)]="Clientes"> Clientes &nbsp;&nbsp;
                                            <input type="checkbox" name="" [(ngModel)]="Abonos"> Abonos &nbsp;&nbsp;
                                            <input type="checkbox" name="" [(ngModel)]="Mantenimientos"> Mantenimientos &nbsp;&nbsp;
                                            <input type="checkbox" name="" [(ngModel)]="Cotizaciones"> Cotizaciones &nbsp;&nbsp;
                                            <input type="checkbox" name="" [(ngModel)]="Altas"> Altas &nbsp;&nbsp;
                                            <input type="checkbox" name="" [(ngModel)]="Egresos"> Egresos &nbsp;&nbsp;
                                            <input type="checkbox" name="" [(ngModel)]="Empleados"> Empleados &nbsp;&nbsp;
                                            <input type="checkbox" name="" [(ngModel)]="Nomina"> Nomina &nbsp;&nbsp;
                                            <input type="checkbox" name="" [(ngModel)]="Usuarios"> Usuarios &nbsp;&nbsp;
                                            <input type="checkbox" name="" [(ngModel)]="Catalogos"> Catalogos &nbsp;&nbsp;
                                            <input type="checkbox" name="" [(ngModel)]="Reportes"> Reportes &nbsp;&nbsp;
                                            <input type="checkbox" name="" [(ngModel)]="Carga"> Carga 
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-lg-12 col-xl-12">
                                        <div class="form-group">
                                            <label class="label-form"> &nbsp;</label><br>
                                            <button (click)="guardarNuevoPerfil();"  class="btn btn-primary pull-right">Guardar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                
                <div class="col-12" *ngIf="this.datosPuestos">
                    <div class="card card-default">
                        <div class="card-header bg-danger">
                            <h4 class="text-white">Perfiles</h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-3 text-center">
                                    <h5> Nombre del Perfil </h5>
                                </div>
                                <div class="col-9 text-center">
                                    <h5> Permisos para Modulos </h5>
                                </div>
                                <div class="col-12" *ngFor="let d of this.datosPuestos">
                                    <div class="row tarjeta">
                                        <div class="col-4 col-sm-4 col-md-2 text-center tarjeta-perfil">
                                            <i class="fa fa-address-book fa-3x"></i><br>
                                            {{d.Nombre_perfil}}
                                        </div>
                                        <div class="col-8 col-sm-8 col-md-10" style="overflow:auto;">
                                            <table class="table table-striped">
                                                <tr>
                                                    <th *ngFor="let p of d.PermisosTitulos" style="background-color:#f9f9f9;"> {{p}} </th>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label class="switch">
                                                            <input type="checkbox" [(ngModel)]="d.Pagina" />
                                                            <span class="slider round"></span>
                                                        </label>        
                                                    </td>
                                                    <td>
                                                        <label class="switch">
                                                            <input type="checkbox" [(ngModel)]="d.Ventas" />
                                                            <span class="slider round"></span>
                                                        </label>        
                                                    </td>
                                                    <td>
                                                        <label class="switch">
                                                            <input type="checkbox" [(ngModel)]="d.Cobranza" />
                                                            <span class="slider round"></span>
                                                        </label>        
                                                    </td>
                                                    <td>
                                                        <label class="switch">
                                                            <input type="checkbox" [(ngModel)]="d.Finanzas" />
                                                            <span class="slider round"></span>
                                                        </label>        
                                                    </td>
                                                    <td>
                                                        <label class="switch">
                                                            <input type="checkbox" [(ngModel)]="d.Catalogos" />
                                                            <span class="slider round"></span>
                                                        </label>        
                                                    </td>
                                                    <td>
                                                        <label class="switch">
                                                            <input type="checkbox" [(ngModel)]="d.Gastos" />
                                                            <span class="slider round"></span>
                                                        </label>        
                                                    </td>
                                                    <td>
                                                        <label class="switch">
                                                            <input type="checkbox" [(ngModel)]="d.Empleados" />
                                                            <span class="slider round"></span>
                                                        </label>        
                                                    </td>
                                                    <td>
                                                        <label class="switch">
                                                            <input type="checkbox" [(ngModel)]="d.Usuarios" />
                                                            <span class="slider round"></span>
                                                        </label>        
                                                    </td>
                                                    <td>
                                                        <label class="switch">
                                                            <input type="checkbox" [(ngModel)]="d.AppVentas" />
                                                            <span class="slider round"></span>
                                                        </label>        
                                                    </td>
                                                </tr>
                                            </table>                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <!-- <div class="col-xs-12 col-lg-12 col-xl-12">
                        <div class="card-header bg-danger">
                            Puestos
                        </div>
                        <div class="card-body table-responsive">
                        <app-datatables-general *ngIf="this.datosPuestos" [datosDatatable]="this.datosPuestos" (edit)="editarPuestos($event);"  (delete)="borrarPuesto($event);"></app-datatables-general>
                        </div>
                    </div>
                </div> -->
        </div>
    </div>
</div>
